main {
    grid-template-columns: 1fr 1fr;
    gap: 10%;
}
div {
    margin-left: -6rem;
}
main > section > form {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

main > section > form > button {
    max-width: 100%;
}

@media (max-width: 900px) {
    main {
        grid-template-columns: auto;
        max-width: min-content;
    }
    main > div {
        margin: unset;
    }
}
.warning {
    width: 86%;
}

.reg {
    display: flex;
    align-items: center;
    align-content: center;
}
